<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="grid">
      <!-- <ion-icon aria-hidden="true" name="triangle"></ion-icon> -->
      <ion-icon aria-hidden="true" name="grid-outline"></ion-icon>
      <ion-label>Grid</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="infinity-scroll">
      <ion-icon aria-hidden="true" name="infinite-outline"></ion-icon>
      <ion-label>infinity-scroll</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="card">
      <ion-icon aria-hidden="true" name="tablet-landscape-outline"></ion-icon>
      <ion-label>Cards</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="icons">
      <ion-icon aria-hidden="true" name="apps-outline"></ion-icon>
      <ion-label>Iconos</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="badge">
      <ion-icon aria-hidden="true" name="contrast-outline"></ion-icon>
      <ion-label>Badge</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
