<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Cards</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img alt="Silhouette of mountains" src="https://cdn.computerhoy.com/sites/navi.axelspringer.es/public/media/image/2020/12/china-nepal-llegan-acuerdo-fin-sabemos-altura-exacta-everest-2163191.jpg?tf=1200x" />
    <ion-card-header>
      <ion-card-title>Monte everest</ion-card-title>
      <ion-card-subtitle>Un lugar increible</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      El Monte Everest es la montaña más alta del mundo, con una altura de 8.848 metros sobre el nivel del mar. Ubicado en el Himalaya, es una cumbre desafiante y peligrosa que atrae a alpinistas y aventureros de todo el...
    </ion-card-content>
    <ion-button fill="clear">Saber mas</ion-button>
  </ion-card>
</ion-content>
