
<ion-header>
  <ion-toolbar>
    <ion-title>Practica</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <h5 class="ion-text-center">Menu</h5>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Actividad 1</ion-card-title>
        <ion-card-subtitle>Crear un proyecto que muestre la implementación de los siguientes componentes</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        <ol>
          <li>ion-grid</li>
          <li>ion-infinity-scroll</li>
          <li>ion-card</li>
          <li>ion-icon</li>
          <li>ion-badge</li>
        </ol>
      </ion-card-content>
    
      <ion-button expand="block" fill="clear" routerLink="/activity1">Actividad 1</ion-button>
      <!-- <ion-button fill="clear">Action 2</ion-button> -->
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Actividad 2</ion-card-title>
        <ion-card-subtitle>
          Una empresa necesita crear una APP donde muestre la siguiente información organizada de la siguiente manera:
        </ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        <ol>
          <li>Nombre de la empresa</li>
          <li>Logo de la empresa</li>
          <li>Descripción de la empresa</li>
          <li>Productos que ofrece</li>
          <li>Ubicación de la empresa</li>
          <li>Redes sociales</li>
        </ol>
      </ion-card-content>
    
      <ion-button expand="block" fill="clear" routerLink="/tabs/tab1">Actividad 2</ion-button>
      <!-- <ion-button fill="clear">Action 2</ion-button> -->
    </ion-card>
  </div>
</ion-content>
