<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Mision y Vision
    </ion-title>
  </ion-toolbar>
</ion-header>

<!-- Scrool automatico -->
<ion-content [fullscreen]="true" scrollY="true">
  <div>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Mision</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        Proveer servicios de alojamiento web y soluciones tecnológicas confiables y personalizadas para ayudar a las empresas a tener éxito en línea, con un enfoque en la satisfacción del cliente y la innovación constante.
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Vision</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        Ser líderes en la industria del alojamiento web y las soluciones tecnológicas, reconocidos por nuestro servicio al cliente excepcional, nuestra fiabilidad y seguridad, y nuestra capacidad para ofrecer soluciones personalizadas y asequibles para empresas de cualquier tamaño en todo el mundo.
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
