<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Directorio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-list>
      <ion-item *ngFor="let item of items; let index">
        <ion-avatar slot="start">
          <img [src]="'https://picsum.photos/80/80?random=' + index.id" alt="avatar" />
        </ion-avatar>
        <ion-label>
          <h2>{{item.name}}</h2>
          <h3>{{item.number}}</h3>
        </ion-label>
      </ion-item>
    </ion-list>
</ion-content>
