<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Grid</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>Columnas alineadas al inicio</p>
  <ion-grid>
    <ion-row class="ion-justify-content-start">
      <ion-col size="3">
        1
      </ion-col>
      <ion-col size="3">
        2
      </ion-col>
    </ion-row>
  </ion-grid>
  
  <p>Columnas alineadas al centro</p>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="3">
        1
      </ion-col>
      <ion-col size="3">
        2
      </ion-col>
    </ion-row>
  </ion-grid>
  
  <p>Columnas alineadas al final</p>
  <ion-grid>
    <ion-row class="ion-justify-content-end">
      <ion-col size="3">
        1
      </ion-col>
      <ion-col size="3">
        2
      </ion-col>
    </ion-row>
  </ion-grid>
  
  <p>Columnas alineadas con espacio alrededor</p>
  <ion-grid>
    <ion-row class="ion-justify-content-around">
      <ion-col size="3">
        1
      </ion-col>
      <ion-col size="3">
        2
      </ion-col>
    </ion-row>
  </ion-grid>
  
  <p>Columnas alineadas con espacio entre ellas</p>
  <ion-grid>
    <ion-row class="ion-justify-content-between">
      <ion-col size="3">
        1
      </ion-col>
      <ion-col size="3">
        2
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
